@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - En-Cantos do Brasil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Encantos_do_Brasil.styles.css" asp-append-version="true" />

</head>

<body>
    <style>
        .navbar-nav > li:not(:last-child) {
            margin-right: 10px; /* Espaçamento entre os itens do menu */
            padding-right: 10px; /* Espaçamento interno dos itens do menu */
            border-right: 1px solid #ccc; /* Adiciona uma borda direita */
        }


        .navbar-nav > li > a:hover {
            color: #000; /* Define a cor do texto quando o mouse está sobre o item */
            background-color: #aad8bf; /* Define a cor de fundo quando o mouse está sobre o item */
            border-radius: 10px;
        }
    </style>


    <header>
        <div class="container">

            <div class="row ">


                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-end">


                   @* <div class="container-fluid col-md-1">
                       <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <img src="~/css/logoPrincipal.png" alt="Logo" width="88" height="auto">
                        </a>
                    </div>*@
@*
                    <div class="container-fluid col-md-9">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Página Inicial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Create"> Cadastro</a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Details" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)"> Perfil</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Favoritos" asp-action="Index"> Favoritos</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cidades" asp-action="Index"> Cidades</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Estados" asp-action="Index"> Estados</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ImagensCidades" asp-action="Index"> Imagens</a>
                                </li>
                            </ul>
                           
                        </div>*@

                    <nav class="navbar navbar-expand-lg navbar-light  bg-white">
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse ml-auto" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item ml-auto">
                                   <h4> Melhores Destinos</h4>
                                </li>
                                <li class="nav-item ml-auto">
                                    <a class="nav-link" href="" style="color:black; ">Estados</a>
                                </li>
                                <li class="nav-item ml-auto">
                                    <a class="nav-link" href="" style="color:black; ">Cidades</a>
                                </li><li class="nav-item ml-auto">
                                    <a class="nav-link" href="" style="color: black ; ">Regiões</a>
                                </li>
                           
                        @if (User.Identity.IsAuthenticated)
                        {
                                    <li class="nav-item ml-auto">
                                Olá, @User.Identity.Name <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                            </li>
                        }
                        else
                        {
                                    <li class="nav-item ml-auto">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Login</a>
                            </li>
                        }
                    </ul>

                        </div>
                        <form asp-action="FazerPesquisa" asp-controller="Home" class="d-flex " role="search">
                            <input class="form-control me-2 rounded-pill  " type="search" name="pesquisa" placeholder="Buscar" aria-label="Search">

                        </form>
                    </nav>
    </header>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
                          
                  
          
                   
                   
                </nav>

            </div>
        </div>
    </header>
    <body>
     
    <div class="container">
        <main role="main" class="pb-8 ">
            @RenderBody()
        </main>
    </div>
     </body>

    <footer class="border-top footer text-muted">
       <h4>Contato</h4>
       <h5>E-mail: contao@encantos_brasil.com.br </h5>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
