@model Encantos_do_Brasil.ViewModels.CidadeEstadoViewModel

@{
    ViewData["Title"] = "Index";
}


    <img src="~/css/CapaPrincipal.png" alt="background" class="imagem_fundo">



        <div class="col-md-12 p-3">
            <section >                
                <h1>Melhores Destinos</h1>
            </section>
        </div>
   



<div class="container d-flex justify-content-center gap-4">
    @foreach (var cidade in Model.ImagemCidades)
    {
      @*   <div class="item">
            <a href="@Url.Action("Details", "Cidades", new { id = cidade.Id })">
                <div class="polaroid">
                    <div class="imagem">
                        <img src="@Url.Action("ExibirImagem", "ImagensCidades", new { id = cidade.Id, tipoImagem = "Principal" })" alt="Imagem da cidade" />
                    </div>
                    <div class="texto">
                        @cidade.Nome
                    </div>
                </div>
            </a>
        </div> *@
        <div class="card" style="width: 18rem;">
            <img src="data:imagem/jpeg;base64,@Convert.ToBase64String(cidade.Dados)" alt="Imagem do Estado" class="card-img-top">
        </div>
    }

    @foreach (var estado in Model.ImagemEstados)
    {
        @*        <div class="item">
    <a href="@Url.Action("Details", "Estados", new { id = estado.IdEstado })">
    <div class="polaroid">
    <div class="imagem">
    <img src="data:image/jpeg;base64,@Convert.ToBase64String(estado.Dados)" alt="Imagem do estado" />
    </div>
    <div class="texto">
    @estado.Nome
    </div>
    </div>
    </a>
    </div> *@

        <div class="card" style="width: 18rem;">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(estado.Dados)" alt="Imagem do Estado" class="card-img-top">
        </div>
    }

</div>


