@model Encantos_do_Brasil.ViewModels.CidadeEstadoViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container" id="menu" >
    <div class="row">
        <div class="col-md-12">
            <section class="highlight">
                <h1>Melhores Destinos</h1>
            </section>
        </div>
    </div>
</div>

<table class="table">
        @foreach (var cidade in Model.Cidades)
        {
            <li>
                <a href="@Url.Action("Details", "Cidades", new { id = cidade.Id })">
                    @cidade.Nome
                <img src="@Url.Action("ExibirImagem", "ImagensCidades", new { id = cidade.Id })" alt="Imagem da cidade" />
                </a>
            </li>
        }

        @foreach (var estado in Model.Estados)
        {
            <li><a href="@Url.Action("Details", "Estados", new { id = estado.Id })">@estado.Nome</a></li>
        }
</table>
