@model IEnumerable<Encantos_do_Brasil.Models.Cidade>

@{
    ViewData["Title"] = "Index";
}

<h1 class="p-4">Cidades</h1>

<div class="container d-flex flex-wrap justify-content-center gap-4">

    @foreach (var item in Model)
    {

        var background = item.ImagensCidades.FirstOrDefault();

        if (background == null)
        {

            <div class="card d-flex mt-2 mb-4" style="width: 18rem;">
                <a href="~/Estados/DetalhesEstado/@item.Id">
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.melhoresdestinos.com.br%2Fo-que-fazer-em-belo-horizonte.html&psig=AOvVaw0jDAEjncXaiBqEYbx8zpkm&ust=1718060546847000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNCOu7fQz4YDFQAAAAAdAAAAABAE" alt="background" class="imagem_fundo card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Estado.Nome)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Estado.Regiao.Nome)</p>
                </div>
            </div>

        }
        else
        {


            <div class="card d-flex mt-2 mb-4" style="width: 18rem;">
                <a href="~/Estados/DetalhesEstado/@item.Id">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(background.Dados)" alt="background" class="imagem_fundo card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Estado.Nome)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Estado.Regiao.Nome)</p>
                </div>
            </div>
        }

    }

</div>
